* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #8ae9b3;
    background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
	color: black;
	font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: fit-content;
    background-color: #f1eee9;
    border-radius: 8px;
}

.tabs {
    display: flex;
    padding: 0.8rem;
    border-bottom: 3px solid #000;
    justify-content: space-around;
}

.tab {
    padding: 1em;
    font-size: 1.3rem;
cursor: pointer;
}

.content-box {
    padding: 2.5em 1.8em;
}

.content-box h2 {
margin-bottom: 1em;
}
.hidden {
    display: none;
}